<div class="nav-vertical vertical-nav">
  <div class="icon brand-icon">
    <a href="#">
      <img src="../../assets/images/f-letter-chat-speech-bubble-logo-design.jpg" alt="">
    </a>
  </div>
  <div class="icons">
    <div class="icon icon-message">
      <a href="#">
        <fa-icon [icon]="faCoffee"></fa-icon>
      </a>
    </div>
    <div class="icon icon-starred-msgs">
      <a href="#">
        <fa-icon [icon]="faStar"></fa-icon>
      </a>
    </div>
    <div class="icon icon-delete">
      <a href="#">
        <fa-icon [icon]="faTrash"></fa-icon>
      </a>
    </div>
  </div>
  <div class="toggle-bar">

  </div>
</div>