:host {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100vh;
}
.nav-vertical {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    -ms-flex-pack: center;
}
@media(min-width: 1000px) {
    :host {
        width: 6%;
    }   
}
.brand-icon {
    margin-top: 15px;
}
.icon {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.icon img {
    width: 100%;
}
.icons {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.icon-message {
    
}
fa-icon {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}
.icons .icon {
    border-left: solid 2px transparent;
    margin: 10px 0 10px 0;
    height: 50px;
    transition: all .3s ease;
}
.icons .icon a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.icons .icon:hover {
    border-left: #5c84fa solid 2px;
    color: #5c84fa;
}
.toggle-bar {
    display: block;
    margin-bottom: 15px;
    height: 50px;
    width: 100%;
}